In [2]:
import numpy as np
import pandas as pd

In [6]:
bankruptcy = pd.read_csv("https://raw.githubusercontent.com/christianolivamoya/MIAX11-ML/main/data/bankruptcy.csv", index_col='Company')
bankruptcy.sample(5)

                        WC/TA  RE/TA  EBIT/TA  S/TA  BVE/BVL Bankrupt
Company
Advanced Radio Telecom   42.6  -60.1    -10.1   0.3    4.130      yes
Net2000 Communications   19.1  -66.3    -25.5  22.3    0.460      yes
Global Telesystems       24.6  -29.0     -2.0  21.3    1.968      yes
Equant                    8.2  -15.6      0.3  87.7    5.444       no
Qwest                    -6.1    0.0      9.4  22.6    2.123       no

In [10]:
features = bankruptcy.drop("Bankrupt", axis=1)
target = bankruptcy["Bankrupt"]

Recordamos la media y varianza de las características

In [12]:
features.describe()

            WC/TA       RE/TA    EBIT/TA        S/TA    BVE/BVL
count   50.000000   50.000000  50.000000   50.000000  50.000000
mean     4.818000  -52.936000  -7.622000   39.794000   3.004240
std     34.269012   90.073681  26.611454   30.862939   5.425038
min   -127.500000 -433.100000 -98.700000    0.300000   0.028000
25%     -5.700000  -75.225000 -12.275000   21.075000   0.566000
50%      5.350000  -38.550000  -2.450000   33.550000   1.405500
75%     25.050000    0.000000   9.025000   51.025000   3.317250
max     74.700000   54.600000  27.900000  127.800000  35.178000

Normalizamos los datos:

In [13]:
def normalizar(x):
    return (x - x.mean()) / x.std()

In [15]:
features = features.apply(normalizar)
features.sample(5)

                     WC/TA     RE/TA   EBIT/TA      S/TA   BVE/BVL
Company
WebLink Wireless -3.861156 -0.758979  0.526916  0.839389 -0.508059
Openwave Systems  0.451778 -0.092857  0.357816 -0.414543  5.930605
Equant            0.098690  0.414505  0.297691  1.552218  0.449722
Aether Systems    0.752342  0.427828  0.102287 -1.218095  0.088066
Garmin            2.039218  1.193867  1.334839  1.127760  0.131936

In [16]:
features.describe()

              WC/TA         RE/TA       EBIT/TA          S/TA       BVE/BVL
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean  -2.831069e-17  6.716849e-17 -8.881784e-18  1.287859e-16 -6.661338e-17
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -3.861156e+00 -4.220589e+00 -3.422511e+00 -1.279658e+00 -5.486118e-01
25%   -3.069245e-01 -2.474530e-01 -1.748495e-01 -6.065203e-01 -4.494420e-01
50%    1.552423e-02  1.597137e-01  1.943524e-01 -2.023139e-01 -2.946966e-01
75%    5.903876e-01  5.876966e-01  6.255577e-01  3.638992e-01  5.769729e-02
max    2.039218e+00  1.193867e+00  1.334839e+00  2.851511e+00  5.930605e+00

Como alternativa más adecuada podemos utilizar los "Scalers" de sklearn que nos permiten
guardar la transformación para aplicarlos sobre otros datasets, por ejemplo el de test.

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
features = bankruptcy.drop('Bankrupt', axis=1)
target = bankruptcy['Bankrupt']

In [19]:
scaler = StandardScaler()

In [22]:
ft_z_array = scaler.fit_transform(features)
features_z = pd.DataFrame(ft_z_array, columns=features.columns)
features_z.head()

      WC/TA     RE/TA   EBIT/TA      S/TA   BVE/BVL
0  0.132117  0.507310  0.350061 -1.004623  0.134393
1  1.113705 -0.080342 -0.094063 -1.292650  0.209619
2 -0.990963 -1.685171 -1.646599 -0.821334 -0.538727
3 -0.068328 -4.263439  0.061570 -0.343472 -0.196488
4  0.627333 -0.050063 -0.602718  0.471512 -0.400193

In [23]:
features_z.describe()

              WC/TA         RE/TA       EBIT/TA          S/TA       BVE/BVL
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean  -3.608225e-18  9.325873e-17  2.220446e-18  9.325873e-17 -6.661338e-17
std    1.010153e+00  1.010153e+00  1.010153e+00  1.010153e+00  1.010153e+00
min   -3.900357e+00 -4.263439e+00 -3.457258e+00 -1.292650e+00 -5.541816e-01
25%   -3.100406e-01 -2.499652e-01 -1.766247e-01 -6.126781e-01 -4.540050e-01
50%    1.568184e-02  1.613352e-01  1.963256e-01 -2.043679e-01 -2.976885e-01
75%    5.963815e-01  5.936633e-01  6.319087e-01  3.675937e-01  5.828307e-02
max    2.059922e+00  1.205988e+00  1.348391e+00  2.880461e+00  5.990816e+00

La normalización de rango funciona de forma similar con el *MinMaxScaler*

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
ft_norm_arr = MinMaxScaler().fit_transform(features)
pd.DataFrame(ft_norm_arr, columns=features.columns).describe()

           WC/TA      RE/TA    EBIT/TA       S/TA    BVE/BVL
count  50.000000  50.000000  50.000000  50.000000  50.000000
mean    0.654392   0.779504   0.719415   0.309757   0.084673
std     0.169481   0.184691   0.210201   0.242062   0.154340
min     0.000000   0.000000   0.000000   0.000000   0.000000
25%     0.602374   0.733802   0.682662   0.162941   0.015306
50%     0.657023   0.809001   0.760269   0.260784   0.039189
75%     0.754451   0.888046   0.850908   0.397843   0.093578
max     1.000000   1.000000   1.000000   1.000000   1.000000